// inputs type text
.inputs {
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 250px;
    border: $border-style;
}

#search_bar {
    border: none;
    margin: 0;
}

.inputs:focus {
    outline: none;
    border: $border-style;
}