//police
$police-text: 'Oxygen', sans-serif;

//colors
$color-1: #F2994A;
$color-2: #F6F6F6;
$color-3: #F2F2F2;
$color-4: black;
$color-5: #D8D9DC;

//borders
$border-style: solid 1px $color-5;
$border-radius: 7px;

//shadows
$box-shadow:rgb(121 121 121 / 35%) 1px 1px 1px;
$box-shadow-bottom: 0 5px 5px -2px $color-2;

// placeholders color
$input-placeholder-color: $color-2;