#section-about {
    width: 980px;
    p {
        text-align: center;
    }
    // images
    .image-about {
        position: relative;
        width: 500px;
        img {
            width: 200px;
        }
        .image-one {
            position: absolute;
            top: -30px;
            left: 80px;
            z-index: 0;
        }
        .image-two {
            position: absolute;
            top: 30px;
            right: 60px;
            z-index: -1;
        }
        .image-three {
            position: absolute;
            left: 80px;
            top: 100px;
            z-index: -2;
        }
    }
    // span color title
    h2 {
        span {
            color: $color-1;
        }
    }
    .about-text {
        margin: auto;
        display: flex;
        flex-direction: column;  
        max-width: 400px;
    }
}