#bloc-page {
    
    #section-carousel {
        
        margin-top: 1rem;
        width: 100%;
        z-index: 0;

        .carousel {
            height: 180px;

            img {
                height: 180px;
            }
        }
    }
}