
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .9;
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 1;
    box-shadow: $box-shadow;

    //bar login cart nav-mobile
    #nav-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: space-around;
        width: 100%;
        // search bar pc
        #pc_search {
            width: 320px;
        }
        //navbar mobile
        .nav-mobile {
            .navbar-toggler:focus {
                box-shadow: none;
                line-height: 0;
                }
        }
        .logos {
            button {
                margin-right: 0.5rem;
            }
            display: flex;
            .icon:first-child {
                width: 25px;
            }
            .icon {
                width: 20px;       
            }
        }
        #logo {
            width: 10rem;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;  
        button {
            background-color: white;
            border: none;
        }
        button:focus {
            box-shadow: none;
        }
    }
    ul {
        li {
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        li:last-child {
            margin-right: 0;
        }
    }

    //navbar   
    #navbarNav {
        background-color: white;
        position: absolute;
        right: 0px;
        top: 8vh;
        width: 10rem;
        a {
            color: $color-4;
            font-size: 1rem;
        }
        border-radius: 20px; 
    }

    // search products
    .search {
        display: flex;
        border: $border-style;
        border-radius: $border-radius;
        width: 280px;
        height: 2.5rem;
        margin: 1rem;
        button {
            .icon {
                width: 30px;
            }
        }
    }
}

// bar delivery return header
#bar-delivery {
    display: flex;
    justify-content: space-between;
    background-color: $color-2;
    margin-bottom: 1rem;
    width: 100%;
    .del-ret {
        p {
            margin: 1rem;
            padding-left: 1rem;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        // icons bar delivery return
        img {
            width: 40px;
            margin:0.3rem 0;
        }
    }
}

