header {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: -1px;
    background-color: white;
    z-index: 1;
    box-shadow: $box-shadow-bottom;

    .navbar-pc {

        .navbar-nav {

            li {

                a {
                    border-bottom: 2px solid white;
                    padding-bottom: 0rem;
                    margin-bottom: 0.5rem;
                    transition: 1s;
                    
                }

                a:hover {
                    
                    border-bottom: 2px solid $color-5;
                    
                }
            }
        }
    }

    //bar login cart nav-mobile
    #bloc-menu {

        padding: 0.5rem 0;
        display: flex;
        width: 100%;

        .icons {

            margin-right: 0.5rem;

            img {

                margin-right: 0.5rem;
                width: 23px;
            }

        }

        .navbar {

            .container-fluid {

                padding: 0;
            }
        }

        //navbar mobile
        .navbar-mobile {

            .nav-mobile {

                ul {
                    li {
                        color: $color-4;
                    }
                }

                .navbar-toggler:focus {

                    box-shadow: none;
                    line-height: 0;
                }
            }
        }

        #logo {

            width: 150px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        button {

            background-color: white;
            border: none;
        }

        button:focus {

            box-shadow: none;
        }
    }

    ul {

        li {

            text-transform: uppercase;
            font-size: 1.5rem;
        }

        li:last-child {

            margin-right: 0;
        }
    }

    //navbar  mobile 
    #navbarNav {

        background-color: white;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 8vh;
        width: 200px;
        padding: 1rem 0;

        ul.navbar-nav {

            padding-left: 2rem;

            li {

                padding-right: 1rem;
                
                a {
                    color: $color-4;
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    width: 100%;
                    text-align: left;
                    border-bottom: 2px solid white;
                    transition: 1s;
            
                }

            }

            a:hover {

                border-bottom: 2px solid $color-5;
                text-align: center;
            }
        }
    }

    // search products
    .search {

        display: flex;
        border: $border-style;
        border-radius: $border-radius;
        width: 280px;
        height: 2.5rem;
        margin: 1rem;

    }
}

// bar delivery return header
#bar-delivery {

    display: flex;
    justify-content: space-between;
    background-color: $color-2;
    width: 100%;

    .del-ret {

        p {

            margin: 1rem;
            padding-left: 1rem;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        // icons bar delivery return
        img {
            
            width: 40px;
            margin: 0.3rem 0;
        }
    }
}